@tailwind base;
@tailwind components;
@tailwind utilities;

.table-bordered th, .table-bordered td {
    border-color: #bfc8d8 !important;
}

.table-hover tbody tr:hover {
    background-color: #f0f6ff !important;
    transition: background-color 0.2s ease;
}

.table-primary th {
    background-color: #4e73df !important;
    color: white !important;
}
